specVersion: 0.0.2
description: {{description}}
repository: https://github.com/itsib/spaceport-subgraph
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: SpaceportFactory
    network: {{network}}
    source:
      address: "{{factoryAddress}}"
      abi: SpaceportFactory
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/factory.ts
      entities:
        - SpaceportFactory
        - Spaceport
        - Token
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: SpaceportFactory
          file: ./abis/spaceport-factory.json
        - name: SpaceportInfo
          file: ./abis/spaceport-info.json
      eventHandlers:
        - event: spaceportRegistered(address)
          handler: handleRegisterSpaceport

  - kind: ethereum/contract
    name: Updater
    network: {{network}}
    source:
      address: "{{updater.address}}"
      abi: Updater
      startBlock: {{updater.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/updater.ts
      entities:
        - Spaceport
        - LatestUpdatedBlock
        - UpdateTask
      abis:
        - name: SpaceportInfo
          file: ./abis/spaceport-info.json
        - name: Updater
          file: ./abis/updater.json
      eventHandlers:
        {{#each updater.events as | event |}}
        - event: {{event.event}}
          handler: {{event.handler}}
        {{/each}}

templates:
  - kind: ethereum/contract
    name: Spaceport
    network: {{network}}
    source:
      abi: Spaceport
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/mapping.ts
      entities:
        - Spaceport
        - Participant
        - User
        - Participant
        - Token
        - SpaceportStat
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: SpaceportFactory
          file: ./abis/spaceport-factory.json
        - name: Spaceport
          file: ./abis/spaceport.json
      eventHandlers:
        - event: spaceportUserDeposit(uint256)
          handler: handleUserDeposit
        - event: spaceportAddLiquidity()
          handler: handleAddLiquidity
        - event: spaceportUserWithdrawBaseTokens(uint256)
          handler: handleUserWithdrawBaseTokens
        - event: spaceportUpdateBlocks(uint256,uint256)
          handler: handleUpdateBlocks
        - event: spaceportForceFailIfPairExists()
          handler: handleForceFailIfPairExists
        - event: spaceportForceFailByPlfi()
          handler: handleForceFailByPlfi

  - kind: ethereum/contract
    name: DeprecatedSpaceport
    network: {{network}}
    source:
      abi: DeprecatedSpaceport
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/mapping-deprecated.ts
      entities:
        - Spaceport
        - Participant
        - User
        - Participant
        - Token
        - SpaceportStat
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: SpaceportFactory
          file: ./abis/spaceport-factory.json
        - name: DeprecatedSpaceport
          file: ./abis/deprecated-spaceport.json
      eventHandlers:
        - event: spaceportAddLiquidity()
          handler: handleAddLiquidity
        - event: spaceportUserDeposit(uint256)
          handler: handleUserDeposit
        - event: spaceportUserWithdrawBaseTokens(uint256)
          handler: handleUserWithdrawBaseTokens
        - event: spaceportUserWithdrawTokens(uint256)
          handler: handleUserWithdrawTokens
