specVersion: 0.0.2
description: {{description}}
repository: https://github.com/itsib/spaceport-subgraph
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: SpaceportFactory
    network: {{network}}
    source:
      address: "{{factoryAddress}}"
      abi: SpaceportFactory
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/factory.ts
      entities:
        - SpaceportFactory
        - Spaceport
        - Token
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: SpaceportFactory
          file: ./abis/spaceport-factory.json
        - name: Spaceport
          file: ./abis/spaceport.json
      callHandlers:
        - function: registerSpaceport(address)
          handler: handleRegisterSpaceportCall

  - kind: ethereum/contract
    name: Updater
    network: mainnet
    source:
      address: "{{updaterAddress}}"
      abi: Updater
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/update.ts
      entities:
        - Spaceport
        - LatestUpdatedBlock
        - UpdateTask
      abis:
        - name: Spaceport
          file: ./abis/spaceport.json
        - name: Updater
          file: ./abis/updater.json
      eventHandlers:
        {{#each updaterEvents as | event |}}
        - event: {{event.event}}
          handler: {{event.handler}}
        {{/each}}
templates:
  - kind: ethereum/contract
    name: Spaceport
    network: mainnet
    source:
      abi: Spaceport
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.3
      language: wasm/assemblyscript
      file: ./src/mappings/mapping.ts
      entities:
        - Spaceport
        - Participant
        - User
        - Participant
        - Token
        - SpaceportStat
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: SpaceportFactory
          file: ./abis/spaceport-factory.json
        - name: Spaceport
          file: ./abis/spaceport.json
      callHandlers:
        - function: userDeposit(uint256)
          handler: handleUserDeposit
        - function: addLiquidity()
          handler: handleAddLiquidity
        - function: userWithdrawBaseTokens()
          handler: handleUserWithdrawBaseTokens
        - function: updateBlocks(uint256,uint256)
          handler: handleUpdateBlocksCall
        - function: forceFailIfPairExists()
          handler: handleForceFailIfPairExistsCall
        - function: forceFailByPlfi()
          handler: handleForceFailByPlfiCall
